Options +FollowSymLinks +ExecCGI

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} !(\.png|\.jpg|\.gif|\.jpeg|\.ico|\.bmp|\.css|\.js)$
    RewriteRule (.*) webroot/index.php [QSA,L]

    RewriteCond %{REQUEST_URI} ^(\.png|\.jpg|\.gif|\.jpeg|\.ico|\.bmp|\.css|\.js)$
    RewriteRule (.*) webroot/index.php [QSA,L]
</IfModule>
